<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DaoNguyen_Community::community" title="Community" translate="title">
                    <resource id="DaoNguyen_Community::group" title="Group" translate="title">
                        <resource id="DaoNguyen_Community::group_save" title="Save Groups"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
