<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DaoNguyen\Community\Api\Data\MemberInterface" type="DaoNguyen\Community\Model\Member"/>
    <preference for="DaoNguyen\Community\Api\MemberRepositoryInterface" type="DaoNguyen\Community\Model\MemberRepository"/>
    <preference for="DaoNguyen\Community\Model\Post\PostOrderInterface" type="DaoNguyen\Community\Model\Post\PostOrdersProcessor"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="community_group_listing_data_source" xsi:type="string">DaoNguyen\Community\Model\ResourceModel\Group\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="DaoNguyen\Community\Model\ResourceModel\Group\Grid\Collection">
        <arguments>
            <argument name="resourceModel" xsi:type="string">DaoNguyen\Community\Model\ResourceModel\Group</argument>
        </arguments>
    </type>
    <type name="DaoNguyen\Community\Model\Post\PostOrdersProcessor">
        <arguments>
            <argument name="orderClasses" xsi:type="array">
                <item name="most_recent" xsi:type="string">DaoNguyen\Community\Model\Post\Order\MostRecent</item>
                <item name="popular" xsi:type="string">DaoNguyen\Community\Model\Post\Order\Popular</item>
                <item name="unanswered" xsi:type="string">DaoNguyen\Community\Model\Post\Order\Unanswered</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="DaoNguyen\Community\Model\Post\Search\FilterList">-->
<!--        <arguments>-->
<!--            <argument name="filterClasses" xsi:type="array">-->
<!--                <item name="date" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Date</item>-->
<!--                <item name="location" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Location</item>-->
<!--                <item name="product" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Product</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->
    <virtualType name="DaoNguyen\Community\Model\Post\Search\Navigation\FilterList" type="DaoNguyen\Community\Model\Post\Search\FilterList">
        <arguments>
            <argument name="filterClasses" xsi:type="array">
                <item name="date" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Date</item>
                <item name="location" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Location</item>
                <item name="product" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Product</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DaoNguyen\Community\Model\Group\View\FilterList" type="DaoNguyen\Community\Model\Post\Search\FilterList">
        <arguments>
            <argument name="filterClasses" xsi:type="array">
                <item name="date" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Date</item>
                <item name="product" xsi:type="string">DaoNguyen\Community\Model\Post\Search\Filter\Product</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DaoNguyen\Community\Block\Group\View\Navigation" type="DaoNguyen\Community\Block\Post\Search\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">DaoNguyen\Community\Model\Group\View\FilterList</argument>
        </arguments>
    </virtualType>
    <type name="DaoNguyen\Community\Block\Post\Search\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">DaoNguyen\Community\Model\Post\Search\Navigation\FilterList</argument>
        </arguments>
    </type>
    <type name="DaoNguyen\Community\Model\Rule\Condition\Rank">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
</config>
